doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Spaatz
        link(rel="stylesheet" href="./css/style.css")
    body
        header
            div.container
                nav.navbar
                    a(href="#" class="navbar-brand")
                        img(src="./images/header/header__logo.png")
                    button.btn
                    .navbar-wrap
                        ul.navbar-menu
                            li.navbar-item
                                a(href="#") Web App
                            li.navbar-item
                                a(href="#") Mobile App
                            li.navbar-item
                                a(href="#") Pricing
                            li.navbar-item
                                a(href="#") Blog
                            li.navbar-item
                                a(href="#") Utility Pages
                    button.btn Request A Demo

                section
                    h1 All your business analytics in #[br] A Single
                        a(href="#")  Dashboard
                    button get started
        main
            div.container
                section.section-1
                    img(src="./images/main/sec-1/sec-1__img.png")
                section.section-2
                section.section-3
                section.section-4
                section.section-5
                section.section-6
                section.section-7
        footer
            div
                h2 footer