doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Spaatz
        link(rel="stylesheet" href="./css/style.css")
    body
        header
            div.container
                nav.navbar
                    a(href="#" class="navbar-brand")
                        img(src="./images/header/header__logo.png")
                    button.btn
                    .navbar-wrap
                        ul.navbar-menu
                            li.navbar-item
                                a(href="#") Web App
                            li.navbar-item
                                a(href="#") Mobile App
                            li.navbar-item
                                a(href="#") Pricing
                            li.navbar-item
                                a(href="#") Blog
                            li.navbar-item
                                a(href="#") Utility Pages
                    button.btn Request A Demo

                section
                    h1 All your business analytics in #[br] A Single
                        a(href="#")  Dashboard
                    button get started
        main
            div.container
                section.section-1
                    img(src="./images/main/sec-1/sec-1__img.png")
                section.section-2
                    div
                        div
                            h2 Perfect approach towards
                                a(href="#") software
                            p
                            |It’s a social collaboration mail software platform that employees really
                            |love to use, with rich personalized interface helps to promote your product
                            |and connect with good buyer.
                            div
                                img(src="./images/main/sec-2/sec-2_img-diamond.svg")
                                h3 Increase Workflow
                                span Abilities taken within a multiple platforms
                            div
                                img(src="./images/main/sec-2/sec-2_img-handbag.svg")
                                h3 Secured Structure
                                span Purpose oriented structures protect the data
                        div
                            img(src="./images/main/sec-2/sec-2_img-1.png")
                section.section-3
                    div
                        div
                            h2 Capture & convert excellent leads more easily.
                            p You can control the inbox like Turn Off Notifications,
                            | Choose When You Check In, Don’t Default to Email,
                            | Compose mail and reply the mail you want.
                        div
                            div
                                h3 Important tools
                                img(src="./images/main/sec-3/sec-3_img-photoshop.svg")
                                img(src="./images/main/sec-3/sec-3_img-figma.svg")
                                img(src="./images/main/sec-3/sec-3_img-adobeXD.svg")
                            div
                                h3  Support for
                                    |Responsive
                                    |device
                                img(src="./images/main/sec-3/sec-3_img-responsive-device.png")
                            div
                                img(src="./images/main/sec-3/sec-3_img-graphic.png")
                    div
                        div
                            img(src="./images/main/sec-3/sec-3_img-chart.png")
                            h3 Watch
                                |and learn
                            button.btn  Explore App

                        div
                            h3 Image, Video, Audio
                               |Gif, support
                            div
                                img(src="./images/main/sec-3/sec-3_img-photo.svg")
                                img(src="./images/main/sec-3/sec-3_img-music.svg")
                                img(src="./images/main/sec-3/sec-3_img-video.svg")
                                img(src="./images/main/sec-3/sec-3_img-gif.svg")

                section.section-4
                    h2 software that drives employee
                        a(href="#") Engagement & productivity
                    div
                        div
                            div
                                h3 Flexible & Powerful
                                p Branding is the process of developing a company's brand, including name.
                            div
                                h3 Simplified Workflow
                                p Standard model of data storage in which the digital data and zip files are is stored.
                            div
                                h3 Branded Scheduling
                                p Workflow management system designed to compose and execute a series.
                            div
                                h3 Reporting Analytics
                                p Activity related to selling or the amount of services sold in a given time period.
                        div
                            img(src="./images/main/sec-4/sec-4_img-first.png")
                section.section-5
                    h2 Featured Feedback
                    div
                        p <span>Spaatz</span>helps us to build processes and automation into my business like a
                        |programmer without having to learn to code. My team is now using process to be

                        h3 Utility Tech
                        span (4.5 / 5 Rating)
                        div
                            img(src="./images/main/sec-5/sec-5_img-rating.svg")
                    div
                        img(src="./images/main/sec-5/sec-5_img-user.png")
                section.section-6
                    div
                        h4 Loved by teams around the world
                        div.brand__container
                            img(src="./images/main/sec-6/sec-6_img-mhome.svg")
                            img(src="./images/main/sec-6/sec-6_img-vs.svg")
                            img(src="./images/main/sec-6/sec-6_img-brand.svg")
                            img(src="./images/main/sec-6/sec-6_img-nhome.svg")
                            img(src="./images/main/sec-6/sec-6_img-classic.svg")
                            img(src="./images/main/sec-6/sec-6_img-lipsum.svg")
                        div.article__container
                            div.article__item
                                img(src="./images/main/sec-6/sec-6_img-startup.png")
                                h3 Young startups with Spaatz In Full Throttle
                                p Capitalize on low-hanging fruit to identify a ballpark value added
                                |activity to beta test override the digital divide with DevOps.
                                div.article__author
                                    img(class="author__ava" src="./images/main/sec-6/sec-6_img-first_author-avatar.svg")
                                    span.article-author__name Antony Wills
                                    span.article-date December 22, 2021


                            div.article__item
                                img(src="./images/main/sec-6/sec-6_img-startup.png")
                                h3 Young startups with Spaatz In Full Throttle
                                p Capitalize on low-hanging fruit to identify a ballpark value added
                                | activity to beta test override the digital divide with DevOps.
                                div.article__author
                                    img(class="author__ava" src="./images/main/sec-6/sec-6_img-first_author-avatar.svg")
                                    span.article-author__name Antony Wills
                                    span.article-date December 22, 2021


                            div.article__item
                                img(src="./images/main/sec-6/sec-6_img-startup.png")
                                h3 Young startups with Spaatz In Full Throttle
                                p Capitalize on low-hanging fruit to identify a ballpark value added
                                | activity to beta test override the digital divide with DevOps.
                                div.article__author
                                    img(class="author__ava" src="./images/main/sec-6/sec-6_img-first_author-avatar.svg")
                                    span.article-author__name Antony Wills
                                    span.article-date December 22, 2021


                section.section-7
        footer
            div
                h2 footer